@import '../styles/Variables.module.scss';
/***************************
 ******* VER CARTAS ********
 ***************************/
.btnVer {
  background: $bruixa-green;
  border: 2px solid #5A6394;
  color: #5A6394;
  padding: 8px 24px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.1rem;
  cursor: pointer;
  grid-area: btn;
  grid-column: 2/2;
  border-radius: 40px;
}

.mobBtnVer {
  background: #fcff52;
  border: 2px solid #7FFAB6;
  color: #5A6394;
  padding: 8px 24px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.1rem;
  cursor: pointer;
  grid-area: mobBtn;
  border-radius: 40px;
}
/***************************
 ******* HAMBURGER *********
 ***************************/

.hamburger {
  background-color: transparent;
}

.bar {
  content: '';
  background-color: #ffffff;
  width: 32px;
  height: 4px;
}

.bar:not(:last-child) {
  margin-bottom: 4px;
}

/***************************
 ********** CLOSE **********
 ***************************/

.close {
  background-color: transparent;
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.closeBar {
  content: '';
  background-color: #ffffff;
  width: 32px;
  height: 4px;
  border-radius: 8px;
}


.closeBar:first-child {
  transform: rotate(45deg) translateY(.65rem) translateX(.712rem);
}

.closeBar:last-child {
  transform: rotate(-45deg) translateY(0.5rem)  translateX(-0.5rem);
}

/**************************
 ********* SWITCH *********
 **************************/
.switch {
  list-style: none;
}