@import '../styles/Variables.module.scss';

.back {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    background: $linear-bruixa;
    color: #ffffff;
    pointer-events: all;
}

.card {
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: $linear-bruixa;
    color: #ffffff;
    position: relative;
    border-radius: 8px;
}

.carta {
    height: $card-height;
    width: $card-width;
    list-style: none;
    color: #ffffff;
}

.imagen {
    height: $card-height;
    width: $card-width;
    object-fit: cover;
} 

@media (max-width: 767px) {
    .carta {
        height: $card-mob-height;
        width: $card-mob-width;
    }
}